/*==================================================
 *Anki card style - A material design card style sheet optimized for Ankidroid
 *Written in 2017 by /u/troy_civ

 *License: Creative Commons Zero v1.0 Universal
 *https://creativecommons.org/publicdomain/zero/1.0/
 *==================================================*/
/* TODO: */
/* play button not in center of border */
/* verb head stylen */
/* verb table */
/* veschriftung button vertical align */
/* open sans font */
/* background color for play button */
/* shadow for content or frontbg and backbg */
/* shadow for help button */
/* minimum size for content */
/* define image size and style, sqare */
/* image shadow */
/* animate answer 300-400ms, easing, */
/* animate button, raise button, ink ripples */
/* style play button according to material */
/* define card size */
/* card shadow, light from top left */
/* font, roboto, noto sans, open sans, source sans pro */
/* div height relative to width, square */
/* border radius in em oder % */
/* grey bg color same as akidroid */
/*
 * material colors:
 * primary color: light_blue_500:#03a9f4
 * darker primary color: light_blue_700:#0288d1
 * secondary color:
 */

/* General card style */
@font-face {
    font-family: Roboto-Regular;
    src: url('_Roboto-Regular.ttf');
}
/* html, body { */
/*     height: 100% */
/* } */
.card {
    max-width: 960px;
    margin: auto; /*centers card horizonally */
    background-color: #f5f5f5;
    /* background: url("_bg01.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    font-family: "Roboto-Regular", sans-serif;
    font-size: 2em;
    text-align: center;
    color: black;
    padding: 1em;
}
.mobile .card {
    word-wrap: break-word;
    font-size: 1em;
    padding: 1em;
}
.content {
    max-width: 100%;
    margin: auto; /* centers horizontally */
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mobile .content {
    max-width: 100%;
    border-radius: 5px;
    /* max-width: 100vw; */
}
.android #content {
    margin:0; /* remove default margin in Ankidroid */
}

/* FrontSide */
.frontbg {
    max-width: 100%;
    margin: auto; /* center horizontally, no effect when max-width is 100% */
    padding: .5em;
    /* max-height: 100%; */
    background-color: #0288d1;
    border-radius: 10px 10px 10px 10px;
    color: #fafafa;
}
.mobile .frontbg {
    max-width: 100%;
    /* min-height: 63.63vw; /\* 0.707*90vw *\/ */
    border-radius: 5px;
}

.frontbgafter {
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0;
    margin-bottom: 0;
}
.mobile .frontbgafter{
    border-radius: 5px 5px 0px 0px;
    /* border-bottom: 0; */
    /* margin-bottom: 0px; */
}
/* Backside */
.backbg {
    max-width: 100%;
    /* margin: auto; */
    /* min-height: 2em; */
    margin-top: 0px;
    background-color: #fafafa;
    color: #0288d1;
    border-radius: 0px 0px 10px 10px;
    padding: .5em;
}
.mobile .backbg {
    border-radius: 0px 0px 5px 5px;
}
/* single card */
/* for cards wich use the same front and back style */
.singlebg {
    /* height: 100%; */
    /* max-height: 100%; */
    max-width: 100%;
    margin: auto;
    background-color: #0288d1;
    color: #fafafa;
    /* padding: 15px; */
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    border-radius: 10px;
    /* border: 0px solid #11BAA6; */
    /* border-top: 0; */
    padding: .5em;
}
.mobile .singlebg {
    /* background-color: #18adab; */
    border: 0px solid #11BAA6;
    border-radius: 5px;
    /* color: #fff; */
    /* margin: 10px; */
    /* padding: 10px; */
}
/*Image*/
img {
    max-width: 100%; /*default: 95%*/
    max-height: 100%; /*default: 95% */
    /* border: 2px solid red; */
    vertical-align: middle; /* removes gap to parent container */
}
/*Font sizes*/
.cloze {
    font-weight: bold;
}
/* .additional { */
/*     /\* font-family: Raleway; *\/ */
/*     /\* font-style: italic; *\/ */
/*     font-size: 0.8em; */
/*     /\* margin-left: 15px; *\/ */
/*     /\* margin-right: 15px; *\/ */
/* } */
/* .sentence { */
/*     font-size: 1em; */
/*     /\* font-style: italic; *\/ */
/* } */
.singleword {
    font-size: 1.5em;
}
.verb_header {
    font-size: 0.8em;
    font-style: italic;
}
.question {
    font-size: 1.25em;
}
.hidden {
    visibility: hidden;
}
/*horizontal line*/
hr {
    /* background-color: transparent; /\*default: #ccc*\/ */
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fafafa;
    margin: .25em 0 1em;
    padding: 0;
}

/*Audio play button*/
.replaybutton span {
    /* font-size: 1em; */
    display: inline-block;
    vertical-align: middle;
    /* padding: 5px; */
}
.replaybutton span svg {
    font-size: 1em;
    fill: #fafafa;
    border-radius: 100%;
    box-shadow: 0px 1px 8px gray;
    background-color: #0288d1;
    /* margin-top: .5em; */
    /* margin-bottom: .5em; */
    /* border: 2px solid #03a9f4; */
    /* border-style: solid; */
    /* border-width: 2px; */
    /* outline: 1px solid #18adab; */
    /* vertical-align: middle; */
}
.playbtn .replaybutton span svg {
    /* font-size: 1em; */
    /* border-color: #03a9f4; */
    /* fill: #fff; */
}
.teal_playbtn .replaybutton span svg {
    /* font-size: 1em; */
    /* border-color: #03a9f4; */
    /* fill: #0288d1; */
}
.playbtnwhite .replaybutton span svg {
    /* font-size: 1em; */
    fill: #0288d1;
    background-color: #fafafa;
    /* border-color: #fff; */
}
.white_playbtn .replaybutton span svg {
    /* font-size: 1em; */
    fill: #0288d1;
   	background-color: #fafafa;
}

/*Spoiler Help Button*/
.button {
	  display:inline-block;
	  border:0px solid #84bbf3;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 1px 8px gray;
	  background-color:#0288d1;
	  font-size:16px;
	  font-style:normal;
	  text-align:center;
	  text-indent:0px;
	  text-decoration:none;
    vertical-align: middle;
	  color:#fafafa;
	  height:32px;
	  width:84px;
	  line-height:32px;
    margin-top: 20px;
}
.buttonwhite {
    background-color: #fafafa;
    color: #0288d1;
}
